/*-------Обнуление---------------------------------*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,*:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,:active {outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside {display: block;}

html,body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}
/*----------------------------------------*/

body {
   background-color: #e8e8e8; /*Добавил серый цвет в заливку*/
}

.content {
   padding: 168px 0 137px 0; /*Отступы 106 сверху и 137 снизу*/
   max-width: 821px; /*ограничение по ширине*/
   margin: 0px auto; /*внешний отступ на всех четырех сторонах элемента*/
}


.content-top {
   text-align: center;
   margin: 0 0 65px 0;
}

.content-top_category {
   opacity: 0.6;
   color: rgba(39, 61, 70, 0.6);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 2.8px;
   margin: 0 0 10px 0;
  
}

.content-top_title {
   line-height: 50px;
   font-size: 36px;
   color: #273d46;
   max-width: 725px; /*73 74 строка делаем по пиксель перфект ширину как в макете и центруем*/
   margin: 0 auto;
}


.content-image {
   box-shadow: 0px 15px 65px 0 rgba(15, 16, 16, 0.15);
   background-color: #fff;
   padding: 10px;
   margin: 0 0 85px 0;

}

.content-image img{ /*обратился напрямую к картинке и указал что ты не сможешь быть больше 100% родителя. Для чего - если заказчик поменяет картинку, чтобы она подстроилась под верстку а не сломалась*/
   max-width: 100%;
}


.content-bottom {
   padding: 0 45px;
}

.content-bottom_text {
  font-size: 24px;
  line-height: 40px;
  color: rgba(39, 61, 70, 0.8);
  margin: 0 0 48px 0;
}

.content-bottom_text p{
   margin: 0 0 40px 0;
}

.content-bottom_text p:last-child {
   margin: 0;
}

.content-bottom-info {}
.content-bottom-info-list {  
}

.content-bottom-info-list li{  
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 20px; 
   margin: 0 0 13px 0;
   background: url('../img/icons/check\ icon.png') left no-repeat;
   padding: 0 0 0 35px;
}
.content-bottom-info-list li:nth-child(1){ 
   text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3);
   color: #273d46;    
}
.content-bottom-info-list li:nth-child(2){
   color: #80b7b3;
   font-style: italic;  
}
.content-bottom-info-list li:nth-child(3){  
   color: #273d46;
   font-weight: 700;
}
.content-bottom-info-list li:nth-child(4){    
   color: rgba(39, 61, 70, 0.3);
   text-decoration: line-through;
}

.content-bottom-info-list li:nth-child(4) span{
   opacity: 1;
}
.content-bottom-info_link {
}