//импорт других файлов стилей
@import "nullstyle.scss";

//переменные
$fz:80px;
$color_1:green;
//Шаблоны
%tplborder {
   border-bottom: 5px dashed red;
}
//миксины
@mixin fontz($f,$c) {
   font-size: $f;
   color: $c;
}

.block {
   //математика
   width: 300px / 960px * 100%;
   background-color: #666;
   padding: 30px;
   font-size: 30px;
   line-height: 60px;
   .block_text {
      font-size: $fz;
      span {
         color: $color_1;
         ;
      }
   }
}

.link {
   color: blue;
   text-decoration: underline;
   font-size: $fz;
   .block &{
      font-size: $fz;
   }
   &:hover{
      color:green;
   }
   @extend %tplborder;
}

.link-2 {
   @include fontz(50px, green);
   border-bottom: 5px dashed #000;
   @extend %tplborder;
}