/*-------Обнуление---------------------------------*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,*:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,:active {outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside {display: block;}

html,body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}
/*----------------------------------------*/

body {
   background-color: #e8e8e8;
}

.content {
   padding: 123px 0 0 291px;
   max-width: 900px;
}
.content-header {
}

.content-header-list li {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   line-height: 1.8;
   color: #273d46;
   padding: 0 0 0 31px;
   background: url('../img/icons/check\ icon.png') left no-repeat;

}
.content-header-list li:nth-child(1) {
   text-decoration: line-through;
}
.content-header-list li:nth-child(2) {
   font-weight: 700;
}
.content-header-list li:nth-child(3) {
   font-style: italic;
}
.content-header-list li:nth-child(4) {
   text-transform: uppercase;
}

.content-header-button {
   height: 44px;
   display: inline-block;
   line-height: 44px;
   padding: 0 30px;
   border-radius: 24px;
   background-color:rgba(128, 183, 179, 0.54);
   box-shadow: 0 6px 20px rgba(128, 183, 179, 0.54);
   font-family: Arial, Helvetica, sans-serif;
   color: #fff;
   font-size: 14px;
   text-transform: uppercase;
   letter-spacing: 2.8px;
   margin: 137px 0 0 0;
}

.content-header-button span{}

.content-body {
}